<div class="about-container">
    <div class="header">
      <h1>Welcome to Youtube+</h1>
    </div>
  
    <div class="mission-statement">
      <h2>Mission:</h2>
      <p>
        Youtube+ is connected with YouTube Data API V3 to provide popular videos.
      </p>
    </div>
  
    <div class="contact-us">
      <h2>Contact</h2>
      <ul>
        <li>Name: Muhammad Syahid Zaidi</li>
        <li>Email: kl2211012918.kuptm.edu.my</li>
      </ul>
    </div>
  
    <div class="thank-you">
      <h2>Thank You for Being a Part of Youtube+</h2>
    </div>
</div>  